<div>
    <h2>Games</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="game.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Game
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startAt"><span>Start At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="homeScore"><span>Home Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="roadScore"><span>Road Score</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="note"><span>Note</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="homeScoreHalf"><span>Home Score Half</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="roadScoreHalf"><span>Road Score Half</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timeslot.id"><span>Timeslot</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="venue.id"><span>Venue</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status.id"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="homeTeam.id"><span>Home Team</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="roadTeam.id"><span>Road Team</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in vm.games track by game.id">
                    <td><a ui-sref="game-detail({id:game.id})">{{game.id}}</a></td>
                    <td>{{game.startAt | date:'medium'}}</td>
                    <td>{{game.homeScore}}</td>
                    <td>{{game.roadScore}}</td>
                    <td>{{game.note}}</td>
                    <td>{{game.homeScoreHalf}}</td>
                    <td>{{game.roadScoreHalf}}</td>
                    <td>
                        <a ui-sref="timeslot-detail({id:game.timeslot.id})">{{game.timeslot.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="venue-detail({id:game.venue.id})">{{game.venue.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="dict-detail({id:game.status.id})">{{game.status.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="team-detail({id:game.homeTeam.id})">{{game.homeTeam.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="team-detail({id:game.roadTeam.id})">{{game.roadTeam.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="game-detail({id:game.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.edit({id:game.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.delete({id:game.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
