<div>
	<h2>
		<span>{{vm.club.name}}</span>
	</h2>
	<p>
		<button type="submit" ui-sref="club.dashedit({id:vm.club.id})"
			class="btn btn-primary btn-sm">
			Club edit <span class="glyphicon glyphicon-pencil"></span> <span
				class="hidden-xs hidden-sm"></span>
		</button>
		<button type="submit" ui-sref="club.teams({id:vm.club.id})"
			class="btn btn-primary btn-sm">
			Team management <span class="glyphicon glyphicon-pencil"></span> <span
				class="hidden-xs hidden-sm"></span>
		</button>
		<button type="submit" ui-sref="club.players({id:vm.club.id})"
			class="btn btn-primary btn-sm">
			Player management <span class="glyphicon glyphicon-pencil"></span> <span
				class="hidden-xs hidden-sm"></span>
		</button>
		<button type="submit" ui-sref="division-event-signup({id:1})"
			class="btn btn-primary btn-sm">
			Division Event Registement <span class="glyphicon glyphicon-pencil"></span>
			<span class="hidden-xs hidden-sm"></span>
		</button>
	</p>
	<div id="overview" class="container">

		<div class="row">
			<!-- <div class="col-sm-12"> -->
			<div class="col-sm-5">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Schedule</strong>
					</div>

					<!-- Table -->
					<table class="table">
						<tr>
							<th>StartAt</th>
							<th>Home</th>
							<th>Score</th>
							<th>Road</th>
						</tr>
						<tr ng-repeat="game in vm.games">
							<td>{{game.startAt| date:'yyyy-MM-dd'}}</td>
							<td><a ui-sref="public.club({id:game.homeTeam.club.id})">{{game.homeTeam.name}}</a></td>
							<td ng-if="isBefore(game.startAt)"><span
								ng-class="{'bigger': game.homeScore > game.roadScore, 'littler': game.homeScore < game.roadScore}">{{game.homeScore}}</span>:
								<span
								ng-class="{'littler': game.homeScore > game.roadScore, 'bigger': game.homeScore < game.roadScore}">{{game.roadScore}}</span>
							</td>
							<td ng-if="!isBefore(game.startAt)">{{game.startAt| date:'HH:mm a'}}</td>
							<td><a ui-sref="public.club({id:game.roadTeam.club.id})">{{game.roadTeam.name}}</a></td>
						</tr>
					</table>
				</div>
			</div><!-- end of col-sm-5 -->
			<div class="col-sm-5">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Next Game</strong>
					</div>
					<div ng-if="vm.nextTeam">
						<p>  {{vm.nextGame.startAt| date: 'yyyy-MM-dd'}} vs 
						<a ui-sref="public.club({id:vm.nextTeam.club.id})">{{vm.nextTeam.name}}</a>
						 on {{vm.nextGame.startAt|date:'HH:mm a'}}</p>
					</div>
				</div>
				</div><!-- end of col-sm-5 -->
				<div class="col-sm-5">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Opponent recent games</strong>
					</div>
					<table class="table">
						<tr>
							<th>StartAt</th>
							<th>Home</th>
							<th>Score</th>
							<th>Road</th>
						</tr>
						<tr ng-repeat="game in vm.recentGamesOfNextTeam">
							<td>{{game.startAt| date:'yyyy-MM-dd'}}</td>
							<td><a ui-sref="public.club({id:game.homeTeam.club.id})">{{game.homeTeam.name}}</a></td>
							<td ng-if="isBefore(game.startAt)"><span
								ng-class="{'bigger': game.homeScore > game.roadScore, 'littler': game.homeScore < game.roadScore}">{{game.homeScore}}</span>:
								<span
								ng-class="{'littler': game.homeScore > game.roadScore, 'bigger': game.homeScore < game.roadScore}">{{game.roadScore}}</span>
							</td>
							<td ng-if="!isBefore(game.startAt)">{{game.startAt| date:'HH:mm a'}}</td>
							<td><a ui-sref="public.club({id:game.roadTeam.club.id})">{{game.roadTeam.name}}</a></td>
						</tr>
					</table>
					
				</div>
				</div><!-- end of col-sm-5 -->
				
				<div class="col-sm-5">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Opponent Statistics</strong>
					</div>
					<table class="table">
						<tr>
							<th></th>
							<th>W</th>
							<th>D</th>
							<th>L</th>
							<th>GS</th>
							<th>GA</th>
							<th>PTS</th>
							<th>NGS</th>
							<th>NGA</th>
						</tr>
						<tr ng-repeat="row in vm.nextTeamResultStatistics">
							<td>{{row[0]}}</td>
							<td>{{row[1]}}</td>
							<td>{{row[2]}}</td>
							<td>{{row[3]}}</td>
							<td>{{row[4]}}</td>
							<td>{{row[5]}}</td>
							<td>{{row[6]}}</td>
							<td>{{row[7]}}</td>
							<td>{{row[8]}}</td>
						</tr>
						<tr>
							<td>TOTAL</td>
							<td>{{vm.nextTeamResultStatistics[0][1]+vm.nextTeamResultStatistics[1][1]}}</td>
							<td>{{vm.nextTeamResultStatistics[0][2]+vm.nextTeamResultStatistics[1][2]}}</td>
							<td>{{vm.nextTeamResultStatistics[0][3]+vm.nextTeamResultStatistics[1][3]}}</td>
							<td>{{vm.nextTeamResultStatistics[0][4]+vm.nextTeamResultStatistics[1][4]}}</td>
							<td>{{vm.nextTeamResultStatistics[0][5]+vm.nextTeamResultStatistics[1][5]}}</td>
							<td>{{vm.nextTeamResultStatistics[0][6]+vm.nextTeamResultStatistics[1][6]}}</td>
							<td>{{vm.nextTeamResultStatistics[0][7]+vm.nextTeamResultStatistics[1][7]}}</td>
							<td>{{vm.nextTeamResultStatistics[0][8]+vm.nextTeamResultStatistics[1][8]}}</td>
						</tr>
					</table>
				</div>
				</div><!-- end of col-sm-5 -->
				
			<!-- </div> -->
		</div>
	</div>
</div>