
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPlayerLabel">Create or edit a Player</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.player.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.player.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.player.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birth">Birth</label>
                <div class="input-group">
                    <input id="field_birth" type="text" class="form-control" name="birth" uib-datepicker-popup="{{dateformat}}" ng-model="vm.player.birth" is-open="vm.datePickerOpenStatus.birth"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birth')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                    ng-model="vm.player.height"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                    ng-model="vm.player.weight"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_picture">Picture</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.player.picture"
                     />
        </div>

        <div class="form-group">
            <label for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" ng-model="vm.player.team" ng-options="team as team.id for team in vm.teams track by team.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.player.status" ng-options="dict as dict.id for dict in vm.dicts track by dict.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
