<nav class="footer footer-default" role="navigation">
    <div class="container">
       
        <footer class="mainFooter">
    

        <div class="footerSponsorStrip">
            <ul>
    <li>
        <a href="###" target="_blank">
            <span alt="" class="large icn sponsor-footer-ea"></span>
            <span alt="" class="small icn sponsor-footer-ea-sm"></span>
            <span alt="" class="type">Lead Partner<span class="visuallyHidden">EA SPORTS</span></span>
        </a>
    </li>
    <li>
        <a href="###" target="_blank">
            <span alt="" class="large icn sponsor-footer-barclays"></span>
            <span alt="" class="small icn sponsor-footer-barclays-sm"></span>
            <span alt="" class="type">Official Bank<span class="visuallyHidden">Barclays</span></span>
        </a>
    </li>

    <li>
        <a href="###" target="_blank">
            <span alt="" class="large icn sponsor-footer-carling"></span>
            <span alt="" class="small icn sponsor-footer-carling-sm"></span>
            <span alt="" class="type">Official Beer<span class="visuallyHidden">Carling</span></span>
        </a>
    </li>
    <li>
        <a href="###" target="_blank">
            <span alt="" class="large icn sponsor-footer-nike"></span>
            <span alt="" class="small icn sponsor-footer-nike-sm"></span>
            <span alt="" class="type">Official Ball<span class="visuallyHidden">Nike</span></span>
        </a>
    </li>
    <li>
        <a href="###" target="_blank">
            <span alt="" class="large icn sponsor-footer-tag"></span>
            <span alt="" class="small icn sponsor-footer-tag-sm"></span>
            <span alt="" class="type">Official Timekeeper<span class="visuallyHidden">TAG Heuer</span></span>
        </a>
    </li>
    <li>
        <a href="###" target="_blank">
            <span alt="" class="large icn sponsor-footer-sporting"></span>
            <span alt="" class="small icn sponsor-footer-sporting-sm"></span>
            <span alt="" class="type">Official Licensee<span class="visuallyHidden">Sporting ID</span></span>
        </a>
    </li>
    <li>
        <a href="###" target="_blank">
            <span alt="" class="large icn sponsor-footer-topps"></span>
            <span alt="" class="small icn sponsor-footer-topps-sm"></span>
            <span alt="" class="type">Official Licensee<span class="visuallyHidden">Topps</span></span>
        </a>
    </li>
            </ul>
        </div>

<div class="footerContent">
    <div class="wrapper">
            <div class="footerCol double">
    <h3 class="subHeader">Premier League</h3>
                    <ul role="menu">
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Home</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Football Fixtures</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Football Results</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Football Tables</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Broadcast</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Tickets</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Clubs</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Players</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Managers</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">News</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Social</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Youth</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Safeguarding</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">History</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Referees</span>
        </a>
</li>
                    </ul>
            </div>
            <div class="footerCol ">
    <h3 class="subHeader">Fantasy</h3>
                    <ul role="menu">
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">Home</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">My Team</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">Transfers</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">Leagues</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">Fixtures</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">Statistics</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">The Scout</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                    </ul>
            </div>
            <div class="footerCol ">
    <h3 class="subHeader">Stats</h3>
                    <ul role="menu">
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Dashboard</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Player Stats</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Club Stats</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">All-time Stats</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Head-to-Head</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Awards</span>
        </a>
</li>
                    </ul>
            </div>
            <div class="footerCol ">
    <h3 class="subHeader">Video</h3>
                    <ul role="menu">
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Latest Videos</span>
        </a>
</li>
                    </ul>
            </div>
            <div class="footerCol ">
    <h3 class="subHeader">Communities</h3>
                    <ul role="menu">
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Latest</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Programmes</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">PL Kicks Heroes</span>
        </a>
</li>
                            <li>        <a href="###" target="_self" role="menuitem">
            <span class=" link">Strategy</span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">Premier League Primary Stars</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                    </ul>
            </div>
            
            <div class="footerCol ">
    <h3 class="subHeader">Social</h3>
                    <ul role="menu">
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">PL on Facebook</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">PL on Twitter</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">FPL on Twitter</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">PL Communities on Twitter</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">PL Youth on Twitter</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">PL on Instagram</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                            <li>        <a href="###" target="_blank" role="menuitem">
            <span class=" link">PL Music on Spotify</span>
            <span class="icn external-sm-ter"></span>
        </a>
</li>
                    </ul>
            </div>
    </div>
</div>                                        
    <div class="footerCorporate" data-script="pl_footer" data-widget="footer-corporate">
        <div class="wrapper col-12">
            <ul role="menu">
                        <li>
                                <strong class="">© PREMIER LEAGUE 2017</strong>
                        </li>
                        <li>
                                <a href="###" class="" role="menuitem">Modern Slavery Statement</a>
                        </li>
                        <li>
                                <a href="###" class="" role="menuitem">Terms &amp; Conditions</a>
                        </li>
                        <li>
                                <a href="###" class="" role="menuitem">Privacy Policy</a>
                        </li>
                        <li>
                                <a href="###" class="" role="menuitem">Cookie Policy</a>
                        </li>
                        <li>
                                <a href="###" class="backToTopContainer" role="menuitem">Back To Top</a>
                        </li>
            </ul>
            <div class="official"><a href="###" class="icn pl-logo-corporate"></a></div>
        </div>
    </div>

</footer>
        
    </div>
</nav>
