<div>
    <h2>Articles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="article.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Article
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="summary"><span>Summary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span>Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="picture"><span>Picture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="author"><span>Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createAt"><span>Create At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="openComment"><span>Open Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="association.id"><span>Association</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="club.id"><span>Club</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in vm.articles track by article.id">
                    <td><a ui-sref="article-detail({id:article.id})">{{article.id}}</a></td>
                    <td>{{article.summary}}</td>
                    <td>{{article.content}}</td>
                    <td>{{article.picture}}</td>
                    <td>{{article.author}}</td>
                        <td>{{article.createAt | date:'mediumDate'}}</td>
                    <td>{{article.type}}</td>
                    <td>{{article.status}}</td>
                    <td>{{article.openComment}}</td>
                    <td>
                        <a ui-sref="association-detail({id:article.association.id})">{{article.association.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="club-detail({id:article.club.id})">{{article.club.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="article-detail({id:article.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.edit({id:article.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.delete({id:article.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
