<div>
    <h2>Division Table</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            <h4>{{vm.divisionEventEntity.season.name+'-'+vm.divisionEventEntity.division.name}}</h4>
                <!-- <button class="btn btn-primary" ui-sref="division-event.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Division Event 222
                    </span>
                </button> -->
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <!-- <th><span>ID</span></th> -->
                    <th><span>Name</span></th>
                    <th><span>GP</span></th>
                    <th><span>W</span></th>
                    <th><span>L</span></th>
                    <th><span>D</span></th>
                    <th><span>GS</span></th>
                    <th><span>GA</span></th>
                    <th><span>GD</span></th>
                    <th><span>PTS</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="divisionEvent in vm.divisionEvents track by divisionEvent[0]">
                    <!-- <td>{{divisionEvent[0]}}</td> -->
                    <td ng-class="{'gold':$index==0,'silver':$index==1,'cornsilk':$index==2}">
                       <a ui-sref="team-detail({id:divisionEvent[0]})"> {{divisionEvent[1]}}</a>
                    </td>
                    <td>
                         {{divisionEvent[2]}}
                    </td>
                    <td>
                         {{divisionEvent[3]}}
                    </td>
                    <td>
                         {{divisionEvent[4]}}
                    </td>
                    <td>
                         {{divisionEvent[5]}}
                    </td>
                    <td>
                         {{divisionEvent[6]}}
                    </td>
                    <td>
                         {{divisionEvent[7]}}
                    </td>
                    <td>
                         {{divisionEvent[8]}}
                    </td>
                    <td>
                         {{divisionEvent[9]}}
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <div class="container-fluid">
   
    <div class="row">
        	 	<div class="col-xs-6 ">
        	 		<h4>射手榜</h4>
			        <table class="jh-table table">
			            <thead>
			                <tr>
			                    <th><span>Name</span></th>
			                    <th><span>Team</span></th>
			                    <th><span>Goal</span></th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr ng-repeat="player in vm.goalRankings track by player[0]">
			                    <td ng-class="{'gold':$index==0,'silver':$index==1,'cornsilk':$index==2}">
			                       <a ui-sref="player-detail({id:player[0]})"> {{player[1]}}</a>
			                    </td>
			                    <td>
			                         {{player[2]}}
			                    </td>
			                    <td>
			                         {{player[4]}}
			                    </td>
			                </tr>
			            </tbody>
			        </table>
        	 	</div>
        	 	<div class="col-xs-6 ">
        	 		<h4>助攻榜</h4>
			        <table class="jh-table table table-striped">
			            <thead>
			                <tr>
			                    <th><span>Name</span></th>
			                    <th><span>Team</span></th>
			                    <th><span>Assist</span></th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr ng-repeat="player in vm.assistRankings track by player[0]">
			                    <td ng-class="{'gold':$index==0,'silver':$index==1,'cornsilk':$index==2}">
			                       <a ui-sref="player-detail({id:player[0]})"> {{player[1]}}</a>
			                    </td>
			                    <td>
			                         {{player[2]}}
			                    </td>	
			                    <td>
			                         {{player[4]}}
			                    </td>
			                </tr>
			            </tbody>
			        </table>
        	 	
        	 	</div>
        	</div>
         </div>
</div>
