
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVenueLabel">Create or edit a Venue</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.venue.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.venue.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.venue.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                    ng-model="vm.venue.shortName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createAt">Create At</label>
                <div class="input-group">
                    <input id="field_createAt" type="text" class="form-control" name="createAt" uib-datepicker-popup="{{dateformat}}" ng-model="vm.venue.createAt" is-open="vm.datePickerOpenStatus.createAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.venue.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.venue.city"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_province">Province</label>
            <input type="text" class="form-control" name="province" id="field_province"
                    ng-model="vm.venue.province"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_town">Town</label>
            <input type="text" class="form-control" name="town" id="field_town"
                    ng-model="vm.venue.town"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="vm.venue.country"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_zip">Zip</label>
            <input type="text" class="form-control" name="zip" id="field_zip"
                    ng-model="vm.venue.zip"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="vm.venue.telephone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latlng">Latlng</label>
            <input type="text" class="form-control" name="latlng" id="field_latlng"
                    ng-model="vm.venue.latlng"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_picture">Picture</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.venue.picture"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
