<nav class="header header-default" role="navigation">
    <div class="container">

        <header class="masthead">

<a class="skipTo" href="#mainNav">Skip to main navigation</a>
<a class="skipTo" href="#mainContent">Skip to main content</a>

<nav class="clubNavigation" data-script="pl_global-header" role="menubar">

    <div class="clubSitesHeading">
        <!-- TO-TRANSLATE -->
        <h4>Association Sites<div class="icon"></div></h4>
    </div>
    <ul class="clubList" role="menu">
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         BOU
"></span>
                        <span class="badge-50         BOU
"><span class="visuallyHidden">AFC Bournemouth</span></span>
                        <span class="name">AFC Bournemouth</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         ARS
"></span>
                        <span class="badge-50         ARS
"><span class="visuallyHidden">Arsenal</span></span>
                        <span class="name">Arsenal</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         BHA
"></span>
                        <span class="badge-50         BHA
"><span class="visuallyHidden">Brighton &amp; Hove Albion</span></span>
                        <span class="name">Brighton &amp; Hove Albion</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         BUR
"></span>
                        <span class="badge-50         BUR
"><span class="visuallyHidden">Burnley</span></span>
                        <span class="name">Burnley</span>
                    </a>
                </li>

                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         WHU
"></span>
                        <span class="badge-50         WHU
"><span class="visuallyHidden">West Ham</span></span>
                        <span class="name">West Ham</span>
                    </a>
                </li>
                <li ng-repeat="association in vm.associations track by association.id">
                    <a target="_blank" ui-sref="public.association({id:association.id})" role="menuitem" title="{{association.name}}">
                        <span class="badge-50">
                            <span class="visuallyHidden">{{association.name}}</span>
                        </span>
                        <span class="name">{{association.name}}</span>
                    </a>
                </li>
    </ul>
</nav>


    <div class="fixedContainer">
        <div class="navContainer" data-script="pl_global-header">
            <section id="mainNav" class="navBar" role="menubar">
                <div class="menuBtn" role="button" id="hamburgerToggle" aria-expanded="false">
                    <span>Menu</span>
                    <div class="menuBtnContainer">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <a href="/" class="plLogo" aria-label="Premier League Home Page on logo link">
                    <picture>
                        <source srcset="/content/images/premier-league-logo-header.svg" type="image/svg+xml">
                        <img id="mainLogo" src="/content/images/logo-jhipster.png" alt="Premier League Logo" style="height: 120px;">
                    </picture>

                </a>
                <nav class="mainNav">

                    <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
                        <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm ">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" >
                            <a ui-sref="public.association({id:1})">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Public</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="association.dash({id:1})">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Association Dashboard</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="club.dash({id:1})">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Club Dashboard</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="player" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Player</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="team" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Team</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="club" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Club</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="association" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Association</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="dict-kind" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Dict Kind</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="dict" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Dict</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="season" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Season</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="venue" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Venue</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="division" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Division</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="division-event" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Division Event</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="timeslot" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Timeslot</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="game" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Game</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="ranking-rule" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Ranking Rule</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="result-field" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Result Field</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="result-data" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Result Data</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="squad" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Squad</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="squad-player" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Squad Player</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="lineup" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Lineup</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="referee" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Referee</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="coach" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Coach</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="game-referee" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Game Referee</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="event" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Event</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="catalog" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Catalog</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="article" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Article</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="tag" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Tag</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="comment" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Comment</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span>Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span>Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span>Database</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
                    </div>

                </nav>
    <!-- <a href="###" class="navLink navOption fantasySignIn" role="button" tabindex="0">
        <div class="icn user-w show-m"></div>
            <span class="fantasySignInLabel">Sign in</span>
    </a>
    <a href="###" class="navLink navOption fantasySignOut hide" role="button" tabindex="0">
            <div class="icn user-w show-m"></div>
            <span class="fantasyUsername"></span>
    </a> -->



            </section>

            <!-- <div class="searchOverlay"></div> -->
        </div>

        <nav class="subNav" role="menubar">
            <ul class="showMoreEnabled">
                        <li data-nav-index="0"><a href="/" class="  active" data-link-index="0" role="menuitem">Home</a></li>
                        <li data-nav-index="1"><a ui-sref="public.fixtures" class="  " data-link-index="1" role="menuitem">Fixtures</a></li>
                        <li data-nav-index="2"><a ui-sref="public.results" class="  " data-link-index="2" role="menuitem">Results</a></li>
                        <li data-nav-index="3"><a ui-sref="public.table" class="  " data-link-index="3" role="menuitem">Tables</a></li>
                        <li data-nav-index="7"><a ui-sref="public.clubs" class="  " data-link-index="7" role="menuitem">Clubs</a></li>
                        <li data-nav-index="8"><a ui-sref="public.players" class="  " data-link-index="8" role="menuitem">Players</a></li>
                        <li data-nav-index="9"><a href="/managers" class="  " data-link-index="9" role="menuitem">Managers</a></li>
                        <li data-nav-index="10"><a href="/news" class="  " data-link-index="10" role="menuitem">News</a></li>
                        <li data-nav-index="15" class="hide"><a href="/referees/overview" class="  " data-link-index="15" role="menuitem">Referees</a></li>
                    </ul>
        </nav>
    </div>


</header>
    </div>
</nav>
