<nav class="header header-default" role="navigation">
    <div class="container">
       
        <header class="masthead">
    
<a class="skipTo" href="#mainNav">Skip to main navigation</a>
<a class="skipTo" href="#mainContent">Skip to main content</a>

<nav class="clubNavigation" data-script="pl_global-header" role="menubar">

    <div class="clubSitesHeading">
        <!-- TO-TRANSLATE -->
        <h4>Association Sites<div class="icon"></div></h4>
    </div>
    <ul class="clubList" role="menu">
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         BOU
"></span>
                        <span class="badge-50         BOU
"><span class="visuallyHidden">AFC Bournemouth</span></span>
                        <span class="name">AFC Bournemouth</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         ARS
"></span>
                        <span class="badge-50         ARS
"><span class="visuallyHidden">Arsenal</span></span>
                        <span class="name">Arsenal</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         BHA
"></span>
                        <span class="badge-50         BHA
"><span class="visuallyHidden">Brighton &amp; Hove Albion</span></span>
                        <span class="name">Brighton &amp; Hove Albion</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         BUR
"></span>
                        <span class="badge-50         BUR
"><span class="visuallyHidden">Burnley</span></span>
                        <span class="name">Burnley</span>
                    </a>
                </li>
                
                <li>
                    <a target="_blank" href="###" role="menuitem">
                        <span class="badge-25         WHU
"></span>
                        <span class="badge-50         WHU
"><span class="visuallyHidden">West Ham</span></span>
                        <span class="name">West Ham</span>
                    </a>
                </li>
                <li ng-repeat="association in vm.associations track by association.id">
                    <a target="_blank" ui-sref="public.association({id:association.id})" role="menuitem" title="{{association.name}}">
                        <span class="badge-50">
                            <span class="visuallyHidden">{{association.name}}</span>
                        </span>
                        <span class="name">{{association.name}}</span>
                    </a>    
                </li>    
    </ul>
</nav>


    <div class="fixedContainer">
        <div class="navContainer" data-script="pl_global-header">
            <section id="mainNav" class="navBar" role="menubar">
                <div class="menuBtn" role="button" id="hamburgerToggle" aria-expanded="false">
                    <span>Menu</span>
                    <div class="menuBtnContainer">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <a href="/" class="plLogo" aria-label="Premier League Home Page on logo link">
                    <picture>
                        <source srcset="/content/images/premier-league-logo-header.svg" type="image/svg+xml"> 
                        <img id="mainLogo" src="/content/images/logo-jhipster.png" alt="Premier League Logo" style="height: 120px;">
                    </picture>
                    
                </a>
                <nav class="mainNav">
                    <ul class="pageLinks" role="menu">

    <li class=" premierleague 
    " tabindex="0" aria-haspopup="true" role="menuitem">

        <div role="button" class="navLink active  " tabindex="index">
            Premier League
                <span class="icn chevron-down-sm-w"></span>
        </div>

            <div class="dropdown " aria-hidden="true">
                <ul role="menu">
                        <li tabindex="-1">
                            <a tabindex="0" href="/" role="menuitem">
                            Home
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/fixtures" role="menuitem">
                            Fixtures
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/results" role="menuitem">
                            Results
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/tables" role="menuitem">
                            Tables
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/transfers/summer/2017" role="menuitem">
                            Transfers
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/broadcast-schedules" role="menuitem">
                            Broadcast
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/tickets" role="menuitem">
                            Tickets
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/clubs" role="menuitem">
                            Clubs
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/players" role="menuitem">
                            Players
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/managers" role="menuitem">
                            Managers
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/news" role="menuitem">
                            News
                            </a>
                        </li>
                    
                </ul>
            </div>
    </li>


<li class=" fantasy 
    " role="menuitem">

        <div role="button" class="navLink" tabindex="index">
            Fantasy
                <span class="icn chevron-down-sm-w"></span>
        </div>

            <div class="dropdown " aria-hidden="true">
                <ul role="menu">
                        <li tabindex="-1">
                            <a tabindex="0" href="/fantasy" role="menuitem">
                            Fantasy
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/draft" role="menuitem">
                            Fantasy Draft
                            </a>
                        </li>
                </ul>
            </div>
    </li>

     <li class=" stats 
    " role="menuitem">
            <a href="/stats" data-link-index="2" class="navLink" role="menuitem">
                Stats
            </a>

        <div role="button" class="navLink  mobile" tabindex="index">
            Stats
                <span class="icn chevron-down-sm-w"></span>
        </div>

            <div class="dropdown  dropdownMobile" aria-hidden="true">
                <ul role="menu">
                        <li tabindex="-1">
                            <a tabindex="0" href="/stats" role="menuitem">
                            Dashboard
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/stats/top/players" role="menuitem">
                            Player Stats
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/stats/top/clubs" role="menuitem">
                            Club Stats
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/stats/all-time" role="menuitem">
                            All-time
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/stats/head-to-head" role="menuitem">
                            Head-to-Head
                            </a>
                        </li>
                        <li tabindex="-1">
                            <a tabindex="0" href="/stats/awards" role="menuitem">
                            Awards
                            </a>
                        </li>
                </ul>
            </div>
    </li> 
    


                    </ul>
                </nav>
    <a href="###" class="navLink navOption fantasySignIn" role="button" tabindex="0">
        <div class="icn user-w show-m"></div>
            <span class="fantasySignInLabel">Sign in</span>
    </a>
    <a href="###" class="navLink navOption fantasySignOut hide" role="button" tabindex="0">
            <div class="icn user-w show-m"></div>
            <span class="fantasyUsername"></span>
    </a>
   
            </section>
            
            <!-- <div class="searchOverlay"></div> -->
        </div>

        <nav class="subNav" role="menubar">
            <ul class="showMoreEnabled">
                        <li data-nav-index="0"><a href="/" class="  active" data-link-index="0" role="menuitem">Home</a></li>
                        <li data-nav-index="1"><a href="/fixtures" class="  " data-link-index="1" role="menuitem">Fixtures</a></li>
                        <li data-nav-index="2"><a href="/results" class="  " data-link-index="2" role="menuitem">Results</a></li>
                        <li data-nav-index="3"><a href="/tables" class="  " data-link-index="3" role="menuitem">Tables</a></li>
                        <li data-nav-index="4"><a href="/transfers/summer/2017" class="  " data-link-index="4" role="menuitem">Transfers</a></li>
                        <li data-nav-index="7"><a href="/clubs" class="  " data-link-index="7" role="menuitem">Clubs</a></li>
                        <li data-nav-index="8"><a href="/players" class="  " data-link-index="8" role="menuitem">Players</a></li>
                        <li data-nav-index="9"><a href="/managers" class="  " data-link-index="9" role="menuitem">Managers</a></li>
                        <li data-nav-index="10"><a href="/news" class="  " data-link-index="10" role="menuitem">News</a></li>
                        <li data-nav-index="15" class="hide"><a href="/referees/overview" class="  " data-link-index="15" role="menuitem">Referees</a></li>
            <li class="more"><div tabindex="0" class="moreToggle">More<span class="icn chevron-down"></span></div><ul class="moreToggleDropdown"><li data-nav-index="11"><a href="/social" class="  " data-link-index="11" role="menuitem">Social</a></li><li data-nav-index="12"><a href="/youth" class="  " data-link-index="12" role="menuitem">Youth</a></li><li data-nav-index="13"><a href="/safeguarding" class="  " data-link-index="13" role="menuitem">Safeguarding</a></li><li data-nav-index="14"><a href="/history" class="  " data-link-index="14" role="menuitem">History</a></li><li data-nav-index="15"><a href="/referees/overview" class="  " data-link-index="15" role="menuitem">Referees</a></li></ul></li></ul>
        </nav>
    </div>


</header>
    </div>
</nav>
