<div ng-cloak>
    <div class="row">
        <div class="col-md-4 up-level">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <header>
                        <center>
                    <div class="week">Matchweek 11</div>
                        <div class="competition"><span class="competitionImage1"></span><span class="competitionLabel1">Premier League</span></div>
                    </center>
                </header>
                </div>
                <table class="jh-table table pl-table">
                    <thead>
                        <tr>
                            <th><span>Rank</span></th>
                            <th><span>Club</span></th>
                            <th><span>GP</span></th>
                            <th><span>GD</span></th>
                            <th><span>PTS</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="divisionEvent in vm.divisionTable track by divisionEvent[0]"  ng-class="{'gold':$index==0,'silver':$index==1,'cornsilk':$index==2,'last':$last}">
                            <td class="pos">{{$index+1}}</td>
                            <!-- <td>{{divisionEvent[0]}}</td> -->
                            <td>
                               <a ui-sref="public.club({id:divisionEvent[2]})"><span class="badge-50 ARS"></span><span>{{divisionEvent[1]}}</span> </a>
                            </td>
                            <td>
                                 {{divisionEvent[3]}}
                            </td>
                           
                            <td>
                                 {{divisionEvent[9]}}
                            </td>
                            <td>
                                 {{divisionEvent[10]}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a class="pl-view-btn btn btn-default btn-block" href="###">View All Tables<span class="visuallyHidden"> Tables</span><span class="icn arrow-right"></span></a>
            </div>


        </div>
        <!-- end of sidebar -->

        <div class="col-md-8">
            <!-- hotest section -->
            <section class="pl-section heroArticle fantasy ">
                <a href="/news/506693" class="heroThumb">
                    <figure>
                            <span class="image thumbCrop">
                                <span class="icn shard-hero-thumbnail"></span>
                                <img width="450" src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photo/2017/09/23/1314ba91-519d-4e4f-8f18-99c04c8a30ac/2017-09-23T152015Z_1608048113_RC19EDBFD3A0_RTRMADP_3_SOCCER-ENGLAND-SWA-WAT.JPG" alt="Swansea City 1-2 Watford">
                                <svg data-name="Layer 1" xmlns="//www.w3.org/2000/svg" viewBox="0 0 343 79">
                                    <path class="fill" d="M3998,4894l51.91,18-1,5.29c75.27,22.9,152.4,34.56,231.23,40.06-0.44,2-.81,3.87-1.26,5.7s-1,3.77-1.78,6.41c7.79,0.53,15.17,1.17,22.57,1.51,12.14,0.56,24.29.9,36.43,1.38,1.65,0.07,3.28.42,4.92,0.64H3998v-79Z" transform="translate(-3998 -4894)"></path>
                                </svg>
                            </span>

                        <figcaption>
                            <span class="tag">Fantasy Premier League</span>
                            <h4 class="title">Scout Selection: Abraham leads</h4>
                            <p>Swansea City striker with strong home form lines up </p>
                        </figcaption>

                    </figure>
                </a>

                
            </section>
            <!-- partner section-->
            <section class="pl-section">
                <div class="partnersStrip premiumBox">
                    <div class="partnerType">
                        <ul class="labels">
                    <li>Lead Partner</li>
                    <li>Official Bank</li>
                    <li>Official Snack</li>
                    <li>Official Beer</li>
                    <li>Official Ball</li>
                    <li>Official Timekeeper</li>
                        </ul>
                        
                    </div>
                    <div class="slideContainer">
                        <ul class="mainList">
                    <li>
                        <a class="icn sponsor-bar-ea" href="###" target="_blank">
                            <span class="visuallyHidden">EA SPORTS</span>
                        </a>
                    </li>
                    <li>
                        <a class="icn sponsor-barclays" href="###" target="_blank">
                            <span class="visuallyHidden">Barclays</span>
                        </a>
                    </li>
                    <li>
                        <a class="icn sponsor-carling" href="###" target="_blank">
                            <span class="visuallyHidden">Carling</span>
                        </a>
                    </li>
                    <li>
                        <a class="icn sponsor-nike" href="###" target="_blank">
                            <span class="visuallyHidden">Nike</span>
                        </a>
                    </li>
                    <li>
                        <a class="icn sponsor-tag" href="###" target="_blank">
                            <span class="visuallyHidden">TAG Heuer</span>
                        </a>
                    </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="pl-section">
                <header>
                    <h3 class="subHeader">Latest News</h3>
                </header>
                <div>
                    <ul class="block-list-4">
                        <li ng-repeat="article in vm.articles track by article.id">

                            <a href="/news/{{article.id}}" class="pl-thumbnail">
                                <figure>
                                    <span class="image thumbCrop-latestnews">
                                        <img class="img" src="/content/images/logo-jhipster.png" alt="Generic placeholder image" width="160" height="120">
                                    </span>
                                    <figcaption>
                                            <!-- TO-TRANSLATE ??-->
                                            <div class="tag">Tagname</div>
                                        <div class="title">{{article.summary}}</div>
                                    </figcaption>
                                </figure>
                            </a>
                                <div class="relatedArticles">

                        <a href="/news/506322" class="relatedArticle club text">
                            <p>
                                Vote for your Barclays Manager of the Month for October
                            </p>
                        </a>

                                </div>
                        </li>   
                    </ul>
                </div>
                
                <a class="btn moreBtn" href="/news">More News<span class="visuallyHidden">: Latest News</span><span class="glyphicon glyphicon-arrow-right"></span></a>

            </section>  
            
        </div>
        <!-- end of main content -->
    </div>
</div>
