<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <header>
                        <center>
                    <div class="week">Matchweek 11</div>
                        <div class="competition"><span class="competitionImage1"></span><span class="competitionLabel1">Premier League</span></div>
                    </center>
                </header>
                </div>
                <table class="jh-table table pl-table">
                    <thead>
                        <tr>
                            <th><span>Rank</span></th>
                            <th><span>Club</span></th>
                            <th><span>GP</span></th>
                            <th><span>GD</span></th>
                            <th><span>PTS</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="divisionEvent in vm.divisionTable track by divisionEvent[0]"  ng-class="{'gold':$index==0,'silver':$index==1,'cornsilk':$index==2,'last':$last}">
                            <td class="pos">{{$index+1}}</td>
                            <!-- <td>{{divisionEvent[0]}}</td> -->
                            <td>
                               <a ui-sref="public.club({id:divisionEvent[2]})"><span class="badge-50 ARS"></span><span>{{divisionEvent[1]}}</span> </a>
                            </td>
                            <td>
                                 {{divisionEvent[3]}}
                            </td>
                           
                            <td>
                                 {{divisionEvent[9]}}
                            </td>
                            <td>
                                 {{divisionEvent[10]}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a class="pl-view-btn btn btn-default btn-block" href="###">View All Tables<span class="visuallyHidden"> Tables</span><span class="icn arrow-right"></span></a>
            </div>


        </div>
        <!-- end of sidebar -->

        <div class="col-md-8">
            <section class="pl-section">
                <header>
                    <h3 class="subHeader">Latest Videos</h3>
                </header>
                <div>
                    <ul class="block-list-4">
                        <li ng-repeat="article in vm.articles track by article.id">

                            <a href="/news/{{article.id}}" class="pl-thumbnail">
                                <figure>
                                    <span class="image thumbCrop-latestnews">
                                        <img class="img" src="/content/images/logo-jhipster.png" alt="Generic placeholder image" width="160" height="120">
                                    </span>
                                    <figcaption>
                                            <!-- TO-TRANSLATE ??-->
                                            <span class="tag">{{article.tags}}</span>
                                        <span class="title">{{article.summary}}</span>
                                    </figcaption>
                                </figure>
                            </a>
                                <div class="relatedArticles">

                        <a href="/news/506322" class="relatedArticle club text">
                            <p>
                                Vote for your Barclays Manager of the Month for October
                            </p>
                        </a>

                                </div>
                        </li>   
                    </ul>
                </div>
                
                <a class="btn moreBtn" href="/news">More News<span class="visuallyHidden">: Latest News</span><span class="glyphicon glyphicon-arrow-right"></span></a>

            </section>  
            
        </div>
        <!-- end of main content -->
    </div>
</div>
