.well{
    background: none;
    border:none;
    box-shadow:none;
    padding-left: 0px;
    padding-right: 0px;
}
/**Masthead===================*/
ol li, ul li {
    list-style-type: none;
}
.masthead {
    position: relative;
    z-index: 100;
    min-height: 17rem;
}
.masthead .skipTo {
    /*padding: 1em;*/
    position: absolute;
    top: -50px;
    left: 1em;
    z-index: 1000;
    color: #fff;
    text-decoration: none;
    border-radius: 0 0 2px 2px;
    transition: .2s;
    background: #e90052;
}

/**Club navigation===========*/
.clubNavigation {
    background: #fff;
    position: relative;
    padding: .5rem 0 .5rem 17rem;
    z-index: 300;
    height:55px;
}
.clubNavigation .clubSitesHeading {
    float: left;
}
.clubNavigation h4 {
    color: #267788;
    font-size: 1.1rem;
    line-height: 5rem;
}
.clubNavigation .icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
    position: relative;
    top: -1px;
}
.clubNavigation .clubList {
    max-width: 130rem;
    margin-left: 7rem;
    padding-right: 2rem;
}
.clubNavigation li {
    float: left;
    width: 5%;
}
.clubNavigation a {
    display: table;
    margin: 0 auto;
    padding: 0 1rem;
    border-radius: 100%;
    position: relative;
}

.clubNavigation .badge-50 {
    -webkit-transform: scale(.6);
    transform: scale(.6);
    transition: all .1s ease-in-out;
}

.badge-50.BOU {
    background-position: -100px -250px;
}

.badge-50.BOU {
    background-position: -100px -250px;
}

.badge-50 {
    background-image: url("../images/badges-50-sprite.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    background-position: 0 -700px;
}
.tooltipContainer, .visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.clubNavigation .name {
    display: none;
}

.badge-50.ARS {
    background-position: 0 -100px;
}
.badge-50.BHA {
    background-position: -200px -200px;
}
.badge-50.BUR {
    background-position: -50px -300px;
}
.badge-50.WHU {
    background-position: -700px -150px;
}

/**Fixed container===========*/
.fixedContainer {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
}
.navContainer {
    min-height: 6rem;
}
.masthead .navBar {
    background: #38003c;
    line-height: 6rem;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    transition: box-shadow .2s;
    z-index: 10;
    position: relative;
    z-index: 300;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.masthead .menuBtn {
    display: none;
    width: auto;
    background: #38003c;
    position: relative;
    padding: 0 2rem;
    float: right;
    height: 6rem;
    border-left: 1px solid #451a49;
    cursor: pointer;
}
.masthead .plLogo {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s;
}
.masthead .plLogo img {
    height: 12rem;
    max-height: 120px;
    position: absolute;
    bottom: 0;
    left: -1px;
}
img {
    border: 0;
}
.icn {
    background: url("../images/global-sprite.png") no-repeat;
    display: block;
}

.masthead .plLogo .mobile {
    display: none;
}
/*.masthead .mainNav {
    padding-left: 17rem;
    float: left;
    width: inherit;
}*/
.masthead .pageLinks {
    float: left;
}
.masthead .navOption, .masthead .pageLinks li, .masthead .searchBtn, .masthead a.navLink {
    position: relative;
}

.masthead .pageLinks>li {
    float: left;
    position: relative;
}
.masthead .mainNav .navLink {
    padding: 0 2.5rem;
}

.masthead .navLink {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 1.5rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}
.masthead .navLink .chevron-down-sm-w {
    margin-left: .8rem;
    display: inline-block;
    vertical-align: baseline;
}

.icn.chevron-down-sm-w {
    width: 10px;
    height: 6px;
    background-position: -948px -388px;
}
.masthead .dropdown_pl {
    position: absolute;
    top: 6rem;
    left: 50%;
    background: #e90052;
    min-width: 100%;
    border-radius: 0 0 2px 2px;
    /*-webkit-transform: scale(0) translateX(-50%);
    transform: scale(0) translateX(-50%);*/
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transition: all .1s;
    /*visibility: hidden;*/
    z-index: 10;
    padding: 1rem 2rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    white-space: nowrap;
}
.masthead .dropdown ul {
    -webkit-column-count: 2;
    column-count: 2;
}
.masthead .dropdown li {
    display: block;
    float: none;
    line-height: normal;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}

.masthead .navOption, .masthead .pageLinks li, .masthead .searchBtn, .masthead a.navLink {
    position: relative;
}

.masthead li > a {
    display: block;
    line-height: 6rem;
    min-width: 9rem;
    /*color: #fff;*/
    text-decoration: none;
}

.masthead .navOption:before, .masthead .pageLinks li:before, .masthead .searchBtn:before, .masthead a.navLink:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: #e90052;
    transition: .2s;
    z-index: -1;
}

.masthead .navOption, .masthead .pageLinks li, .masthead .searchBtn, .masthead a.navLink {
    position: relative;
}

.masthead .pageLinks>li {
    float: left;
    position: relative;
}
.masthead .navLink.active:before, .masthead .navLink.mobile {
    display: none;
}


.subNav {
    line-height: 4.2rem;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    position: relative;
    background: #fff;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
}
.subNav ul {
    padding-left: 17rem;
}
.subNav li {
    float: left;
    margin-left: 0;
    margin-right: 0;
}
.subNav a {
    display: block;
    color: #76766f;
    text-decoration: none;
    padding: .4rem 2rem;
    font-size: 1.3rem;
    position: relative;
    transition: all .2s ease-in-out;
}
.subNav a.active:before {
    height: 4px;
    background: #e90052;
}
.subNav a:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: #76766f;
    transition: .2s;
    z-index: -1;
}

.hide {
    display: none!important;
}
.subNav ul.showMoreEnabled .more {
    display: list-item;
}

.subNav ul .more {
    float: right;
    position: relative;
    margin-right: 0;
    margin-left: 0;
}
.subNav ul .more .moreToggle {
    line-height: 5rem;
    padding: 0 1.5rem;
    color: #38003c;
    display: block;
    cursor: pointer;
    color: #76766f;
    font-size: 1.3rem;
}
.subNav ul .more .moreToggle .icn {
    display: none;
}
.subNav ul .more .moreToggle:before {
    content: "";
    background: url("/content/images/global-sprite.png") -954px -114px no-repeat;
    width: 4px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    position: relative;
    top: -1px;
}

.icn.chevron-down {
    width: 15px;
    height: 9px;
    background-position: -365px -399px;
}
.subNav ul .more ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: 4.2rem;
    right: 0;
    background: #e8e8e8;
    padding-left: 0;
}
.subNav ul .more a {
    padding: 0 2rem;
}

.subNav ul .more a {
    white-space: nowrap;
}

.searchOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(56,0,60,.95);
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
}
.masthead .navOption {
    /*float: right;*/
    border-left: 1px solid hsla(0,0%,100%,.1);
}

.masthead .navOption .icn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    position: relative;
    top: -2px;
}


.masthead .navBar:after {
    content: "";
    display: table;
    clear: both;
}

.masthead .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: #e90052;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #e90052;
    border-color: #337ab7;
}
.dropdown-menu {
    background-color: #e90052;
    border: 1px solid #e90052;
}
.dropdown-menu > li > a {
    display: block;
    line-height: 1.8;
    min-width: 9rem;
    color: #fff;
    text-decoration: none;
}
ul.nav > li > a {
    color:#fff;
}
table .badge-50 {
    transform: scale(.6);
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
}
 .week {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: PremierSans-Bold, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}
.competition {
    display: inline-block;
    vertical-align: middle;
}
.competitionImage1 {
    content: "";
    width: 122px;
    height: 20px;
    display: block;
    background: url("/content/images/global-sprite.png") -464px -737px no-repeat;
}
.competitionLabel1 {
    display: none;
}
.pl-table {
    font-size: 1.2rem;
    color:rgb(102, 102, 102);
}
.pl-table .badge-50{
    height: 30px;
}
.pl-table > tbody > tr > td {
    padding: 5px 7px;
}
.pl-table > tbody > tr > td > a {
    color: rgb(36, 36, 36);
    vertical-align: middle;
}

td.pos {
    line-height: 2rem;
    border-left: 0px;
}
.pl-view-btn{
    border:none;
    border-top: 1px solid #ccc;
    border-radius:0px;

}

.subHeader {
    line-height: 4rem;
    margin-bottom: 0px;
    font-size: 1.8rem;
    position: relative;
    clear: both;
}
.moreBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    vertical-align: middle;
    background: #e8e8e8;
    color: #333;
    text-align: center;
    padding: 0 2rem;
    line-height: 4rem;
    border-radius: 2px;
}
.moreBtn:focus, .moreBtn:hover{
    background: #e90052;
    color: #fff;
}
.moreBtn .glyphicon {
    padding-left: 6px;
    top: 3px;
}

.relatedArticles {
    padding-top: 1.5rem;
    padding-left: 3.5rem;
    border-top: 1px dotted rgb(232, 232, 232);
    margin: 0px 1rem 1.5rem;
    position: relative;
}
.relatedArticle p {
    display: inline-block;
    color: #242424;
    vertical-align: sub;
    line-height: 1.1;
    font-size: 1.1rem;
}

.block-list-4{
    padding-left: 0px;
    padding-top: 2rem;
}
.block-list-4 > li {
    width: 25%;
    clear: both;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
}
.pl-thumbnail {
    display: block;
    text-decoration: none;
    color: #242424;
    transition: all .2s;
}
.pl-thumbnail .tag {
    margin-bottom: 0.7em;
    min-height: 13px;
    color: rgb(233, 0, 82);
    font-size: 1.1rem;
}
.pl-thumbnail .title {
    line-height: 1.3;
    transition: all 0.1s;
}
.pl-thumbnail:focus img, .pl-thumbnail:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.pl-thumbnail figcaption {
    padding: 1rem;
    min-height: 8rem;
}
.relatedArticle.text p:before {
    content: "";
    width: 18px;
    height: 14px;
    left: 4px;
    background: url("../images/global-sprite.png") -702px -698px no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.relatedArticle:focus, .relatedArticle:hover {
    text-decoration: none;
}
a:hover, a:focus {
    color: #242424;
    text-decoration: none;
}
.pl-section{
    position: relative;
}

.partnersStrip {
    margin-bottom: 2rem;
    padding: 0 4rem;
}
.premiumBox {
    background-color: #f6f6f6;
    background-image: url("/content/images/premium.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 110px;
    position: relative;
    padding: 0 5px;
}
.partnersStrip .partnerType {
    display: none;
}
.partnersStrip .mainList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 2.5rem;
}
.partnersStrip .mainList li:first-child {
    margin-right: auto;
    margin-left: 0;
}

.partnersStrip .mainList li {
    float: left;
    margin-left: 5rem;
}
.icn.sponsor-bar-ea {
    width: 55px;
    height: 55px;
    background-position: -800px -539px;
}
.icn.sponsor-barclays {
    width: 120px;
    height: 21px;
    background-position: -344px -737px;
}
.icn.sponsor-carling {
    width: 80px;
    height: 41px;
    background-position: -800px -340px;
}
.icn.sponsor-nike {
    width: 80px;
    height: 28px;
    background-position: -612px -530px;
}
.icn.sponsor-tag {
    width: 137px;
    height: 15px;
    background-position: -232px -602px;
}

.heroArticle {
    margin-top: -2rem;
    padding: 2rem 0;
    position: relative;
    margin-bottom: 2rem;
}
.heroArticle:before {
    content: "";
    display: block;
    width: 90vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50vw;
    margin-left: 250px;
    background: #38003c url("../images/thumb-hero-highlight.svg");
    background-position: left 50% top;
    background-position: left 50vw top;
    background-repeat: no-repeat;
    z-index: 0;
}

.heroArticle.fantasy:before {
    background-image: url("../images/thumb-hero-primary.svg");
}
.heroArticle.fantasy, .heroArticle.fantasy:before {
    background-color: #00ff87;
}
.heroArticle.fantasy .heroThumb {
    background: #00ff87;
}

.heroThumb {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #38003c;
    position: relative;
    z-index: 1;
}
.heroThumb .image {
    float: left;
    /*width: 500px;*/
    overflow: hidden;
    position: relative;
}
.heroThumb svg {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 100%;
    max-width: 70%;
    fill: #38003c;
    display: none;
}
.heroThumb span {
    display: block;
}
.heroThumb figcaption {
    margin-left: 60%;
    padding: 2rem;
    color: #000;
}
.heroThumb .title {
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    transition: .2s;
}
.heroThumb p {
    font-size: 1.4rem;
    /*color: #fff;*/
}

.up-level{
    z-index: 1;
}
.pl-section .heroThumb figure{
    padding-bottom: 3rem;
}

.articleHeader {
    /*width: 95%;*/
    background: #38003c;
    color: #fff;
    margin: -2rem 0 2rem;
    min-height: 200px;
    z-index: -10;
    background: url("/content/images/article-shard.svg"),#38003c;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.articleHeader .articleHeaderContent {
    padding: 3rem 0 9rem 8rem;
}
.articleHeader .newsTag {
    color: #e90052;
    margin-bottom: .5rem;
}
.articleHeader h5 {
    font-family: PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}
.articleHeader .articleTitle {
    font-size: 4.5rem;
    padding-bottom: 1rem;
    line-height: 1.2;
}
.articleHeader .articleAuth {
    color: #e90052;
}
.standardArticle .relatedArticles .relatedArticlesText {
    margin-bottom: 0;
    border-bottom: 1px dotted #e8e8e8;
}
.standardArticle .relatedArticles p {
    line-height: normal;
    font-size: 1.2rem;
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    color: #333;
}
.standardArticle .relatedArticles .col-3:not(:last-child) {
    border-right: 1px dotted #e8e8e8;
}
.standardArticle .relatedArticles .col-3 {
    width: 33.3%;
}
.relatedArticle {
    text-decoration: none;
    color: #76766f;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
    position: relative;
    transition: all .2s;
    padding-left: 3.5rem;
}
.standardArticle .relatedArticles a {
    padding-left: 4.5rem;
    border-bottom: 1px dotted #e8e8e8;
}
.standardArticle .relatedArticles .relatedArticle {
    min-height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding-right: .5rem;
}
.standardArticle .relatedArticles .articleLead {
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 1.3rem;
    line-height: 1;
    margin: 0;
    padding: 1rem 0;
}

.commomHeader {
    background: #38003c;
    color: #fff;
    margin: -2rem 0 2rem;
    min-height: 100px;
    z-index: -10;
    background: url("/content/images/article-shard.svg"),#38003c;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.commomHeader .commomHeaderContent {
    padding: 1rem 0 5rem 6rem;
}
.commomHeader .commonTitle {
    font-size: 4.5rem;
    padding-bottom: 1rem;
    line-height: 1.2;
}
.competitionImage {
    content: "";
    background: url("/content/images/global-sprite.png") -395px -570px no-repeat;
    width: 170px;
    height: 28px;
    display: block;
}
.table table {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    border-collapse: inherit;
}
.table th {
    color: #666;
    vertical-align: top;
    font-size: 1.2rem;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: bolder;
    vertical-align: middle;
}
.table td, .table th {
    padding: .7rem 1rem;
    font-size: 14px;
}
.table a {
    color: #242424;
    vertical-align: middle;
}

.table .tableDark, .table .team:after {
    background: #e4e4e4;
}
.table .tableMid {
    background: #eee;
}
.table .tableBlow {
    background: red;
}

.clubIndex .indexItem {
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    padding-top: 1.2rem;
}
.clubIndex a {
    display: block;
}

.clubIndex .indexImg {
    height: 12rem;
    position: relative;
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
    background-image: url("/content/images/mc-scorebox-sml.jpg");
}
.clubIndex .indexBadge {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 8rem;
    left: 50%;
    margin-left: -35px;
    padding: 10px;
    border-radius: 100%;
    background: #fff;
}
.clubIndex svg {
    position: absolute;
    bottom: -.4rem;
    left: 0;
    fill: #76766f;
}
.clubIndex .clubColourSvg {
    fill: #f5f5f5;
}
svg:not(:root) {
    overflow: hidden;
}

.clubIndex .indexInfo {
    padding: 3.7rem 1rem 1rem;
    background: #76766f;
    color: #000;
    line-height: 1.8;
}
.clubIndex .clubColourBg {
    background: #f5f5f5;
    color: #333;
}
.clubIndex .stadiumName {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: .5rem;
}
.clubIndex .stadiumName .icn {
    margin: -.2rem .5rem 0 0;
    display: inline-block;
    vertical-align: middle;
}
.icn.stadium-w {
    width: 20px;
    height: 13px;
    background-position: -780px -640px;
}
.clubColourBtn {
    background: #cfcfcf;
    color: #333;
    position: relative;
    padding-right: 2.5rem;
}
.clubColourBtn [class*=arrow-right] {
    content: "";
    background: url("/content/images/global-sprite.png") -791px -190px no-repeat;
    width: 9px;
    height: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -4px;
    margin-left: -4.5px;
    left: auto;
    right: 1rem;
}
.player-name{
    padding-left: 1rem;
}
.pl-players table tr td {
    padding: 0px;
}
.searchBtn{
    vertical-align: middle;
    background: #e90052;
    color: #333;
    text-align: center;
    padding: 0 2rem;
    line-height: 3.5rem;
    border-radius: 2px;
    border: none;
}

.searchBtn:focus, .searchBtn:hover{
    /*background: #e90052;*/
    color: #fff;
}
.searchBtn .glyphicon {
    padding-left: 3px;
    top: 3px;
}
.fixture:focus, .fixture:hover{
    background: #e90052;
    color: #fff;
}

.homeTeam{
    font-weight: bold;
    text-align: right;
}
.roadTeam{
    font-weight: bold;
    text-align: left;
}
.gameTime{
    width: 150px;
}
.gameScore{
    width: 80px;
    text-align: center;
}
.fixture time, .score{
    padding: 4px 6px;
    background: #38003c;
    color: #fff;
}
.fixture:focus time, .fixture:hover time,.fixture:focus .score, .fixture:hover .score{
    background: #fff;
    color: #e90052;
}
