<h1>{{vm.association.name}}</h1>
<div id="tabs" ng-controller="PublicAssociationController">
       <ul class="nav nav-tabs">
           <li ng-repeat="tab in tabs" 
               ng-class="{active:isActiveTab(tab.url)}" >
               <a ng-click="onClickTab(tab)">{{tab.title}}</a>
           </li>
       </ul>
       <div id="mainView">
           <div ng-include="currentTab"></div>
       </div>
</div>
<script type="text/ng-template"  id="overview.tpl.html">
	<br>
	<div id="overview" class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- association basic information -->
        		<div class="col-sm-6">
					<label>Create At</label> {{vm.association.createAt|date:'yyyy-MM-dd'}}
				</div>
				
			</div>
			
		</div>	
	</div>
</script>
<script type="text/ng-template"  id="schduled.tpl.html">
	<br>
	<div id="schduled" class="container">
		
	</div>
</script>
<script type="text/ng-template"  id="divisions.tpl.html">
	<br>
	<div id="divisions" class="container">
		<div class="row">
        <div class="col-lg-4" ng-repeat="division in vm.divisions">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>{{division.name}}</h2>
          <p>This is division interduce</p>
          <p><a class="btn btn-default" ui-sref="public.division({id:division.id})" role="button">View details »</a></p>
        </div>
      </div>

	</div>
</script>
<script type="text/ng-template"  id="clubs.tpl.html">
	<br>
	<div id="clubs" class="container">
		<div class="row">
        <div class="col-lg-3" ng-repeat="club in vm.clubs">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="40" height="40">
          <h3>{{club.name}}</h3>
          <p>{{club.shortName}},create at {{club.createAt|date:'yyyy-MM-dd'}}.</p>
          <p><a class="btn btn-default" ui-sref="public.club({id:club.id})" role="button">View details »</a></p>
        </div>
      </div>
	</div>
</script>
<script type="text/ng-template"  id="players.tpl.html">
	<br>
	<div id="players" class="container">
		<div class="row">
        <div class="col-lg-3" ng-repeat="player in vm.players">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="40" height="40">
          <h3>{{player.name}}</h3>
          <p>from {{player.team.name}}.</p>
          <p><a class="btn btn-default" ui-sref="public.player({id:player.id})" role="button">View details »</a></p>
        </div>
      </div>

	</div>
</script>
<script type="text/ng-template"  id="venues.tpl.html">
	<br>
	<div id="venues" class="container">
	</div>
</script>