<h1>{{vm.association.name}}</h1>
<div id="tabs" ng-controller="PublicAssociationController">
       <ul class="nav nav-tabs">
           <li ng-repeat="tab in tabs" 
               ng-class="{active:isActiveTab(tab.url)}" >
               <a ng-click="onClickTab(tab)">{{tab.title}}</a>
           </li>
       </ul>
       <div id="mainView">
           <div ng-include="currentTab"></div>
       </div>
</div>
<script type="text/ng-template"  id="overview.tpl.html">
	<br>
	<div id="overview" class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- association basic information -->
        		<div class="col-sm-6">
					<label>Create At</label> {{vm.association.createAt|date:'yyyy-MM-dd'}}
				</div>
				
			</div>
			
		</div>	
	</div>
</script>
<script type="text/ng-template"  id="schduled.tpl.html">
	<br>
	<div id="schduled" class="container">
		
	</div>
</script>
<script type="text/ng-template"  id="divisions.tpl.html">
	<br>	
	<div id="divisions" class="container">
		<div class="row">
        	<div class="col-sm-11">
				<div class="panel panel-default">
					<table class="jh-table table">
						<tr><th>Name</th><th>Create At</th><th>Type</th></tr>
						<tr ng-repeat="division in vm.divisions"><td><a ui-sref="public.division({id:division.id})">{{division.name}}</a></td><td>{{division.createAt|date:'yyyy-MM-dd'}}</td><td>{{division.type.name}}</td></tr>
					</table>
				</div>
			</div>
		</div>	<!-- end of row-->
	</div>
</script>
<script type="text/ng-template"  id="players.tpl.html">
	<br>
	<div id="players" class="container">
		
	</div>
</script>
<script type="text/ng-template"  id="venues.tpl.html">
	<br>
	<div id="venues" class="container">
	</div>
</script>